*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.bulb_btn{
    width: 150px;
    height: 50px;
    background: crimson;
    color: white;
    font-size: 30px;
    cursor: pointer;
}